/*
!.gitignore
!pack.png
!pack.mcmeta
!/assets
!/generate
/assets/minecraft/blockstates
/assets/minecraft/models
!/assets/minecraft/models/item/paper.json
!/assets/minecraft/models/item/stick.json
/assets/minecraft/optifine
/assets/minecraft/sounds/records
/assets/minecraft/textures
!/assets/minecraft/textures/environment/snow
